**/.DS_Store
**/*.pyc
useless/*
**/results*/*
**/*log
**/check_points*/*
**/*checkpoints/*
**/*pickle
**/*tfrecord
**/*play*
**/*pdf
**/*png
**/wandb/*
**/ckpts/*
**/tmp/*
**/res/*
**/*.h5
**/*.mp4
**/*.zip
**/*.json
**/*.sdf
**/*.visit
**/*.status
**/*.deck
**/*.dat
**/*.npy
**/*.npz
**/*.pkl
**/Makefile*
**/*.backup
**/output*/*
